{% extends "base.html.twig" %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/DocuAndAbout/style.css') }}">
{% endblock %}

{% block body %}

    <div class="link-path">
        <span><a href="{{ path('index')}}"><i class="fas fa-home"></i> Home</a> > About</span>
    </div>
    <div class="about-page">
        <div class="side-menus">
            {% include "includes/about/_aboutMenu.html.twig" %}
        </div>
        <div class="about-section">
            <div class="title-path">
                <div class="head-title">
                    <h1>A Propos</h1>
                </div>
            </div>
            <span class="separator"></span>
            <div class="about-parts">
                <div class="about-title">
                    <h2>Qui sommes-nous ?</h2>
                    <span class="see-more" onclick="">
                        Voir plus <i class="fas fa-sort-down"></i>
                    </span>
                </div>
                <div class="about-separator"></div>
                <div class="who" id="who">
                    {% include "includes/about/_who.html.twig" %}
                </div>
                <div class="about-title">
                    <h2>Quel est notre but ?</h2>
                    <span class="see-more" onclick="">
                        Voir plus <i class="fas fa-sort-down"></i>
                    </span>
                </div>
                <div class="about-separator"></div>
                <div class="our-goal" id="our-goal">
                    {% include "includes/about/_ourGoal.html.twig" %}
                </div>
                <div class="about-title">
                    <h2>Quels sont nos plans ?</h2>
                    <span class="see-more" onclick="">
                        Voir plus <i class="fas fa-sort-down"></i>
                    </span>
                </div>
                <div class="about-separator"></div>
                <div class="our-plan" id="our-plan">
                    {% include "includes/about/_ourPlan.html.twig" %}
                </div>
                <div class="about-title">
                    <h2>Conditions d'utilisation</h2>
                    <span class="see-more" onclick="">
                        Voir plus <i class="fas fa-sort-down"></i>
                    </span>
                </div>
                <div class="about-separator"></div>
                <div class="terms-of-use" id="terms-of-use">
                    {% include "includes/about/_termsOfUse.html.twig" %}
                </div>
                <div class="about-title">
                    <h2>Nous contacter</h2>
                    <span class="see-more" onclick="">
                        Voir plus <i class="fas fa-sort-down"></i>
                    </span>
                </div>
                <div class="about-separator"></div>
                <div class="contact" id="contact">
                    {% include "includes/about/_contact.html.twig" %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}