{% extends "base.html.twig" %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/DocuAndAbout/style.css') }}">
{% endblock %}

{% block body %}

    <div class="link-path">
        <span><a href="{{ path('index')}}"><i class="fas fa-home"></i> Accueil</a> > Informations</span>
    </div>
    <div class="about-page">
        <div class="side-menus">
            {% include "includes/about/_aboutMenu.html.twig" %}
        </div>
        <div class="about-section">
            <div class="title-path">
                <div class="head-title">
                    <h1>Informations</h1>
                </div>
            </div>
            <span class="separator"></span>
            <div class="about-parts">
                <div class="about-title">
                    <h2>Qui sommes-nous ?</h2>
                    <span class="see-more" onclick="seeMore('who')">
                        Voir plus <i class="fas fa-sort-down"></i>
                    </span>
                </div>
                <div class="about-separator"></div>
                <div id="who" style="display:none">
                    <div class="who">
                            {% include "includes/about/_who.html.twig" %}
                    </div>
                </div>
                <div class="about-title">
                    <h2>Quel est notre but ?</h2>
                    <span class="see-more" onclick="seeMore('goal')">
                        Voir plus <i class="fas fa-sort-down"></i>
                    </span>
                </div>
                <div class="about-separator"></div>
                <div id="goal" style="display:none">
                    <div class="our-goal">
                            {% include "includes/about/_ourGoal.html.twig" %}
                    </div>
                </div>
                <div class="about-title">
                    <h2>Quels sont nos plans ?</h2>
                    <span class="see-more" onclick="seeMore('plan')">
                        Voir plus <i class="fas fa-sort-down"></i>
                    </span>
                </div>
                <div class="about-separator"></div>
                <div id="plan" style="display:none">
                    <div class="our-plan">
                            {% include "includes/about/_ourPlan.html.twig" %}
                    </div>
                </div>
                <div class="about-title">
                    <h2>Conditions d'utilisation</h2>
                    <span class="see-more" onclick="seeMore('terms')">
                        Voir plus <i class="fas fa-sort-down"></i>
                    </span>
                </div>
                <div class="about-separator"></div>
                <div id="terms" style="display:none">
                    <div class="terms-of-use">
                            {% include "includes/about/_termsOfUse.html.twig" %}
                    </div>
                </div>
                <div class="about-title">
                    <h2>RGPD</h2>
                    <span class="see-more" onclick="seeMore('rgpd')">
                        Voir plus <i class="fas fa-sort-down"></i>
                    </span>
                </div>
                <div class="about-separator"></div>
                <div id="rgpd" style="display:none">
                    <div class="rgpd">
                            {% include "includes/about/_rgpd.html.twig" %}
                    </div>
                </div>
                <div class="about-title">
                    <h2>Cookies</h2>
                    <span class="see-more" onclick="seeMore('cookies')">
                        Voir plus <i class="fas fa-sort-down"></i>
                    </span>
                </div>
                <div class="about-separator"></div>
                <div id="cookies" style="display:none">
                    <div class="cookies">
                            {% include "includes/about/_cookies.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}