<form method="post" action="{{ path('admin_grammar_delete', {'id': grammar.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ grammar.id) }}">
    <button class="btn btn-outline-danger px-4 mx-2"><i class="far fa-trash-alt"></i></button>
</form>
