<form method="post" action="{{ path('admin_letter_delete', {'id': letter.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ letter.id) }}">
    <button class="btn btn-outline-danger px-4 mx-2"><i class="far fa-trash-alt"></i></button>
</form>
