{% extends 'base.html.twig' %}

{% block title %}New Letter{% endblock %}

{% block body %}
    <h1>Create new Letter</h1>

    {{ include('Admin/admin_letter/_form.html.twig') }}

    <a href="{{ path('admin_letter_index') }}">back to list</a>
{% endblock %}
