/***************/
/*** general ***/
/***************/

@font-face {
    font-family: 'lobsterregular';
    src: url('../fonts/fira-sans/firasansextracondensed-regular-webfont.woff2') format('woff2'),
         url('../fonts/fira-sans/firasansextracondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'great_vibesregular';
    src: url('../fonts/great-vibes/greatvibes-regular-webfont.woff2') format('woff2'),
         url('../fonts/great-vibes/greatvibes-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lobsterregular';
    src: url('../fonts/lobster/lobster-regular-webfont.woff2') format('woff2'),
         url('../fonts/lobster/lobster-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatherregular';
    src: url('../fonts/merriweather/merriweather-regular-webfont.woff2') format('woff2'),
         url('../fonts/merriweather/merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

p { 
    font-family: 'robotoregular', serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: black;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'merriweatherregular';
}

.kr {
    font-family: source-han-serif-korean, serif;
    font-style: normal;
    font-weight: 400;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.link-path {
    width: 80%;
    height: 15px;
    display: flex;
    justify-content: flex-end;
}

.quick-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EEEEEE;
    width: 250px;
    height: 150px;
}

.dm-title, .am-title {
    width: 100%;
    height: 30px;
    padding: 5px 0 5px 10px;
    background: #022859;
    color: white;
}

.qm-links, .dm-links, .am-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.qm-links a, .dm-links a , .am-links a{
    margin-left: 20px;
}

.side-menus {
    width: 20%
}

.see-more {
    width: 90px;
    height: 22px;
    padding: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    border: 1px solid rgb(133, 132, 132);
    color: grey;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-sort-down {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 2px;
}

.valid-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.valid-btn input, .valid-btn button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: #590212;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
}

.password-reset {
    width: 80%;
    margin: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.password-reset div {
    display: flex;
    flex-direction: column;
}

.password-reset div input {
    width: 80%;
}

.password-reset p {
    display: flex;
    justify-content: center;
}

.separator {
    width: 80%;
    height: 2px;
    background: rgb(133, 132, 132);
    margin-bottom: 20px;
}

.warning {
    color: rgb(172, 29, 29);
}

#skflag {
    float:right;
    width: 30%;
    z-index: -1;
    position: absolute;
    transform: translate(245%, -100%);
}

/***************/
/*** _navbar ***/
/***************/

.first-nav {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #022859;
    color: #D0D6D9;
    font-family: 'merriweatherregular', sans-serif;
    font-weight: 200;
    font-style: normal;
}

.logged-user {
    width: 60%;
    text-align: right;
} 

#logged-user {
    text-shadow: 1px 1px 2px #590212;
    font-size: 20px;
}

.connection {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}

.connection a {
    color: #D0D6D9;
    font-weight: 200;
}

.second-nav {
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.825);
}

.logo {
    display: flex;
    flex-direction: row;
    width: 20%;
    align-items: center;
    justify-content: space-evenly;
}

.logo-link {
    display: flex;
    flex-direction: row;
}

.logo img {
    width: 200px;
    height: 200px;
}

.logo-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.logo-name a {
   color: #022859;
} 

.hanbeop {
    font-family: 'great_vibesregular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}

.navbar {
    width: 60%;
}

.navbar-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    font-family: 'lobsterregular', sans-serif;
    font-size: 30px;
}

.navbar a {
    color: #022859;
    font-weight: bold;
}

/***************/
/*** _footer ***/
/***************/

footer {
    height: 170px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #022859;
    font-family: 'lobsterregular', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 2%;
    flex-shrink: 0;
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social-networks {
    height: 150px;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

.social-networks h2 {
    margin-bottom: 20px;
    margin-left: 10px;
}

.social-logos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fa-facebook-f, .fa-instagram, .fa-twitter {
    font-size: 50px;
}

.fa-facebook-f:hover, .fa-instagram:hover, .fa-twitter:hover {
    color: white;
}

.contact-form {
    height: 150px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.contact h2 {
    margin-bottom: 20px;
}

.contact p {
    margin-top: 20px;
}

.contact-form .fa-envelope-open-text {
    font-size: 50px;
}

.fa-envelope-open-text:hover {
    color: white;
}

.copyright {
    color: #D0D6D9;
}

footer a {
    color: #8C031C;
    font-weight: bold;
}

/***********************/
/*** >375px & <800px ***/
/***********************/

/* ! style smartphones et petites tablettes en portrait */
@media only screen and (min-width: 360px) and (max-width: 799px) {

    .link-path {
        width: 80%;
        height: 15px;
        display: flex;
        justify-content: flex-end;
        font-size: 10px;
    }

    .see-more {
        width: 70px;
        height: 18px;
        padding: 1px;
        margin-bottom: 2px;
        margin-right: 2px;
        border: 1px solid rgb(133, 132, 132);
        color: grey;
        border-radius: 10px;
        font-size: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .fa-sort-down {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        margin-left: 2px;
    }

    /***************/
    /*** _navbar ***/
    /***************/

    .first-nav {
        height: 30px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: #022859;
        color: #D0D6D9;
        font-family: 'merriweatherregular', sans-serif;
        font-weight: 200;
        font-size: 12px;
        font-style: normal;
    }

    .logged-user {
        width: 40%;
        padding-left: 10px;
        text-align: left;
    } 

    #logged-user {
        text-shadow: 1px 1px 2px #590212;
        font-size: 14px;
    }

    .connection {
        display: flex;
        justify-content: space-evenly;
        width: 60%;
    }

    .connection a {
        color: #D0D6D9;
        font-weight: 200;
    }

    .second-nav {
        display: flex;
        height: 200px;
        width: 100%;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.825);
    }

    .logo {
        display: flex;
        flex-direction: row;
        width: 20%;
        align-items: center;
        justify-content: space-evenly;
    }

    .logo-link {
        display: flex;
        flex-direction: column;
    }

    .logo img {
        width: 100px;
        height: 100px;
    }

    .logo-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .logo-name a {
    color: #022859;
    } 

    .hanbeop {
        font-family: 'great_vibesregular', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
    }

    .hanbeop-kr {
        font-size: 15px;
    }

    .navbar {
        width: 60%;
    }

    .navbar-ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: space-around;
        align-items: flex-start;
        margin: 50px;
        font-size: 25px;
    }

    .navbar a {
        color: #022859;
        font-weight: bold;
    }

    /***************/
    /*** _footer ***/
    /***************/

    footer {
        height: 170px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #022859;
        font-family: 'lobsterregular', sans-serif;
        font-weight: 200;
        font-style: normal;
        font-size: 10px;
        margin-top: 2%;
        flex-shrink: 0;
    }

    footer p {
       text-align: center;
       padding-left: 10px;
    }

    footer h2 {
        font-size: 15px;
    }

    .contact {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .social-networks {
        height: 150px;
        width: 300px;
        margin-top: 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: white;
    }

    .social-networks h2 {
        margin-bottom: 20px;
    }

    .social-logos {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .fa-facebook-f, .fa-instagram, .fa-twitter {
        font-size: 20px;
    }

    .contact-form {
        height: 150px;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .contact h2 {
        margin-bottom: 20px;
    }

    .contact p {
        margin-top: 20px;
    }

    .contact-form .fa-envelope-open-text {
        font-size: 20px;
    }

    .copyright {
        color: #D0D6D9;
    }

    footer a {
        color: #8C031C;
        font-weight: bold;
    }

}

/***********************/
/*** >800px & <966px ***/
/***********************/

/* ! style petites-moyennes tablettes */
@media only screen and (min-width: 800px) and (max-width: 966px) {

    .link-path {
        width: 80%;
        height: 15px;
        display: flex;
        justify-content: flex-end;
        font-size: 10px;
    }

    /***************/
    /*** _navbar ***/
    /***************/

    .first-nav {
        height: 30px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: #022859;
        color: #D0D6D9;
        font-family: 'merriweatherregular', sans-serif;
        font-weight: 200;
        font-style: normal;
    }

    .logged-user {
        width: 40%;
        padding-left: 10px;
        text-align: left;
    } 

    #logged-user {
        text-shadow: 1px 1px 2px #590212;
        font-size: 20px;
    }

    .connection {
        display: flex;
        justify-content: space-evenly;
        width: 60%;
    }

    .connection a {
        color: #D0D6D9;
        font-weight: 200;
    }

    .second-nav {
        display: flex;
        height: 200px;
        width: 100%;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.825);
    }

    .logo {
        display: flex;
        flex-direction: row;
        width: 20%;
        align-items: center;
        justify-content: space-evenly;
    }

    .logo-link {
        display: flex;
        flex-direction: column;
    }

    .logo img {
        width: 100px;
        height: 100px;
    }

    .logo-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .logo-name a {
    color: #022859;
    } 

    .hanbeop {
        font-family: 'great_vibesregular', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
    }

    .hanbeop-kr {
        font-size: 15px;
    }

    .navbar {
        width: 60%;
    }

    .navbar-ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-evenly;
        align-items: flex-start;
        font-size: 20px;
    }

    .navbar a {
        color: #022859;
        font-weight: bold;
    }

    /***************/
    /*** _footer ***/
    /***************/

    footer {
        height: 170px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #022859;
        font-family: 'lobsterregular', sans-serif;
        font-weight: 200;
        font-style: normal;
        font-size: 12px;
        margin-top: 2%;
        flex-shrink: 0;
    }

    footer p {
        padding: 0 15px;
    }

    footer h2 {
        font-size: 20px;
    }

    .contact {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .social-networks {
        height: 150px;
        width: 300px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: white;
    }

    .social-networks h2 {
        margin-bottom: 20px;
    }

    .social-logos {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .fa-facebook-f, .fa-instagram, .fa-twitter {
        font-size: 25px;
    }

    .contact-form {
        height: 150px;
        width: 300px;
        margin: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .contact h2 {
        margin-bottom: 20px;
    }

    .contact p {
        margin-top: 20px;
    }

    .contact-form .fa-envelope-open-text {
        font-size: 25px;
    }

    .copyright {
        color: #D0D6D9;
        margin-bottom: 20px;
    }

    footer a {
        color: #8C031C;
        font-weight: bold;
    }
}

/************************/
/*** >966px & <1025px ***/
/************************/
/* ! style grandes tablettes */
@media only screen and (min-width: 967px) and (max-width: 1025px) {

    .link-path {
        width: 80%;
        height: 15px;
        display: flex;
        justify-content: flex-end;
        font-size: 12px;
    }

    /***************/
    /*** _navbar ***/
    /***************/

    .first-nav {
        height: 30px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: #022859;
        color: #D0D6D9;
        font-family: 'merriweatherregular', sans-serif;
        font-weight: 200;
        font-style: normal;
    }

    .logged-user {
        width: 40%;
        text-align: center;
    } 

    #logged-user {
        text-shadow: 1px 1px 2px #590212;
        font-size: 20px;
    }

    .connection {
        display: flex;
        justify-content: space-evenly;
        width: 60%;
    }

    .connection a {
        color: #D0D6D9;
        font-weight: 200;
    }

    .second-nav {
        display: flex;
        height: 200px;
        width: 100%;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.825);
    }

    .logo {
        display: flex;
        flex-direction: row;
        width: 20%;
        align-items: center;
        justify-content: space-evenly;
    }

    .logo-link {
        display: flex;
        flex-direction: column;
    }

    .logo img {
        width: 100px;
        height: 100px;
    }

    .logo-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .logo-name a {
    color: #022859;
    } 

    .hanbeop {
        font-family: 'great_vibesregular', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
    }

    .hanbeop-kr {
        font-size: 15px;
    }

    .navbar {
        width: 60%;
    }

    .navbar-ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        font-size: 25px;
    }

    .navbar a {
        color: #022859;
        font-weight: bold;
    }

    /***************/
    /*** _footer ***/
    /***************/

    footer {
        height: 170px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #022859;
        font-family: 'lobsterregular', sans-serif;
        font-weight: 200;
        font-style: normal;
        font-size: 12px;
        margin-top: 2%;
        flex-shrink: 0;
    }

    footer p {
        padding: 0 15px;
    }

    footer h2 {
        font-size: 20px;
    }

    .contact {
        width: 100%;
        display: flex;
        margin-top: 20px;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .social-networks {
        height: 150px;
        width: 300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: white;
    }

    .social-networks h2 {
        margin-bottom: 20px;
    }

    .social-logos {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .fa-facebook-f, .fa-instagram, .fa-twitter {
        font-size: 25px;
    }

    .contact-form {
        height: 150px;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .contact h2 {
        margin-bottom: 20px;
    }

    .contact p {
        margin-top: 20px;
    }

    .contact-form .fa-envelope-open-text {
        font-size: 25px;
    }

    .copyright {
        color: #D0D6D9;
        margin-bottom: 25px;
    }

    footer a {
        color: #8C031C;
        font-weight: bold;
    }
}

/*************************/
/*** >1026px & <1600px ***/
/*************************/

/* ! style petits desktops */
@media only screen and (min-width: 1026px) and (max-width: 1549px) {

    /***************/
    /*** _navbar ***/
    /***************/

    .first-nav {
        height: 30px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: #022859;
        color: #D0D6D9;
        font-family: 'merriweatherregular', sans-serif;
        font-weight: 200;
        font-style: normal;
    }

    .logged-user {
        width: 40%;
        text-align: center;
    } 

    #logged-user {
        text-shadow: 1px 1px 2px #590212;
        font-size: 20px;
    }

    .connection {
        display: flex;
        justify-content: space-evenly;
        width: 60%;
    }

    .connection a {
        color: #D0D6D9;
        font-weight: 200;
    }

    .second-nav {
        display: flex;
        height: 200px;
        width: 100%;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.825);
    }

    .logo {
        display: flex;
        flex-direction: row;
        width: 20%;
        align-items: center;
        justify-content: space-evenly;
    }

    .logo-link {
        display: flex;
        flex-direction: column;
    }

    .logo img {
        width: 100px;
        height: 100px;
    }

    .logo-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .logo-name a {
    color: #022859;
    } 

    .hanbeop {
        font-family: 'great_vibesregular', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
    }

    .hanbeop-kr {
        font-size: 15px;
    }

    .navbar {
        width: 60%;
    }

    .navbar-ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        font-size: 25px;
    }

    .navbar a {
        color: #022859;
        font-weight: bold;
    }

}

/* ! style petits desktops */
@media only screen and (min-width: 1550px) and (max-width: 1600px) {

    /***************/
    /*** _navbar ***/
    /***************/

    .first-nav {
        height: 30px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: #022859;
        color: #D0D6D9;
        font-family: 'merriweatherregular', sans-serif;
        font-weight: 200;
        font-style: normal;
    }

    .logged-user {
        width: 40%;
        text-align: center;
    } 

    #logged-user {
        text-shadow: 1px 1px 2px #590212;
        font-size: 20px;
    }

    .connection {
        display: flex;
        justify-content: space-evenly;
        width: 60%;
    }

    .connection a {
        color: #D0D6D9;
        font-weight: 200;
    }

    .second-nav {
        display: flex;
        height: 200px;
        width: 100%;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.825);
    }

    .logo {
        display: flex;
        flex-direction: row;
        width: 20%;
        align-items: center;
        justify-content: space-evenly;
    }

    .logo-link {
        display: flex;
        flex-direction: column;
    }

    .logo img {
        width: 100px;
        height: 100px;
    }

    .logo-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .logo-name a {
    color: #022859;
    } 

    .hanbeop {
        font-family: 'great_vibesregular', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
    }

    .hanbeop-kr {
        font-size: 15px;
    }

    .navbar {
        width: 60%;
    }

    .navbar-ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        font-size: 25px;
    }

    .navbar a {
        color: #022859;
        font-weight: bold;
    }

    /***************/
    /*** _footer ***/
    /***************/

    footer {
        height: 170px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #022859;
        font-family: 'lobsterregular', sans-serif;
        font-weight: 200;
        font-style: normal;
        font-size: 12px;
        margin-top: 2%;
        flex-shrink: 0;
    }

    footer p {
        padding: 0 15px;
    }

    footer h2 {
        font-size: 20px;
    }

    .contact {
        width: 100%;
        display: flex;
        margin-top: 20px;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .social-networks {
        height: 150px;
        width: 300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: white;
    }

    .social-networks h2 {
        margin-bottom: 20px;
    }

    .social-logos {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .fa-facebook-f, .fa-instagram, .fa-twitter {
        font-size: 30px;
    }

    .contact-form {
        height: 150px;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .contact h2 {
        margin-bottom: 20px;
    }

    .contact p {
        margin-top: 20px;
    }

    .contact-form .fa-envelope-open-text {
        font-size: 30px;
    }

    .copyright {
        color: #D0D6D9;
        margin-bottom: 30px;
    }

    footer a {
        color: #8C031C;
        font-weight: bold;
    }
}