/**********************/
/**** docu & about ****/
/**********************/

.docu-page, .about-page {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex: 1 0 auto;
}

.docu-menu, .about-menu {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EEEEEE;
    width: 250px;
}

.title-path {
    width: 90%;
}

.docu-section, .about-section {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.docu-parts, .about-parts {
    width: 80%;
}

.docu-title, .about-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.docu-title h2, .about-title h2 {
    margin: 20px 0 0 20px;
}

.docu-separator, .about-separator {
    width: 100%;
    height: 2px;
    background: rgb(133, 132, 132);
    margin-bottom: 20px;
}

.hangeul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hangeul table, .about-page table {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    border-collapse: collapse;
    margin: 20px;
}

.hangeul h4 {
    text-align: center;
}

.hangeul table th, .about-page table th {
    padding: 2px 10px 2px 10px;
}

.hangeul table td, .about-page table td {
    border-top: 1px solid black;
}

.tr-hover:hover {
    background:rgba(93, 157, 240, 0.884);
}

.docu-section a, .about-section a {
    color: #590212;
}

/***********************/
/*** >374px & <800px ***/
/***********************/

/* ! style smartphones et petites tablettes en portrait */
@media only screen and (min-width: 360px) and (max-width: 799px) {
    .docu-page, .about-page {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex: 1 0 auto;
    }

    .side-menus {
        width: 100%;
    }
    
    .docu-menu, .about-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #EEEEEE;
        width: 100%;
    }

    .docu-section, .about-section {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    .docu-title h2, .about-title h2 {
        margin: 20px 0 0 0;
        font-size: 12px;
        width: 80%;
    }
    
    .docu-page p, .about-page p {
        font-size: 10px;
    }

    .docu-page table, .about-page table {
        font-size: 10px;
    }

    .hangeul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

/***********************/
/*** >800px & <966px ***/
/***********************/

/* ! style petites-moyennes tablettes */
@media only screen and (min-width: 800px) and (max-width: 966px) {
    .docu-page, .about-page {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex: 1 0 auto;
    }
    
    .docu-menu, .about-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #EEEEEE;
        width: 80%;
    }

    .side-menus {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 1px;
        margin-bottom: 100px;
    }

    .docu-section, .about-section {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    .docu-title h2, .about-title h2 {
        margin: 20px 0 0 0;
        font-size: 15px;
    }
    
    .docu-page p, .about-page p {
        font-size: 12px;
    }

    .docu-page table, .about-page table {
        font-size: 12px;
    }

    .hangeul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}

/************************/
/*** >966px & <1025px ***/
/************************/
/* ! style grandes tablettes */
@media only screen and (min-width: 967px) and (max-width: 1025px) {
    .docu-page, .about-page {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex: 1 0 auto;
    }
    
    .docu-menu, .about-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #EEEEEE;
        width: 60%;
    }

    .side-menus {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 1px;
        margin-bottom: 50px;
    }

    .docu-section, .about-section {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    .docu-title h2, .about-title h2 {
        margin: 20px 0 0 0;
        font-size: 15px;
    }
    
    .docu-page p, .about-page p {
        font-size: 12px;
    }

    .docu-page table, .about-page table {
        font-size: 12px;
    }

    .hangeul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

/*************************/
/*** >1025px & <1600px ***/
/*************************/

/* ! style petits desktops */
@media only screen and (min-width: 1025px) and (max-width: 1600px) {
    .docu-page, .about-page {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex: 1 0 auto;
    }
    
    .docu-menu, .about-menu {
        display: flex;
        flex-direction: column;
        background: #EEEEEE;
        width: 100%;
    }
    
    .side-menus {
        display: block;
        width: 20%;
    }
    
    .docu-menu a, .about-menu a {
        font-size: 12px;
    }
    

    .docu-section, .about-section {
        display: flex;
        width: 80%;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    .docu-title h2, .about-title h2 {
        margin: 20px 0 0 0;
        font-size: 15px;
    }
    
    .docu-page p, .about-page p {
        font-size: 12px;
    }

    .docu-page table, .about-page table {
        font-size: 12px;
    }

    .hangeul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}