<div class="about-menu">
    <div class="am-title">
        <h3>Accès Rapide</h3>
    </div>
    <div class="am-links">
        <a href="#who">- Qui sommes-nous ?</a>
        <a href="#our-goal">- Quel est notre but ?</a>
        <a href="#our_plan">- Quels sont nos plans ?</a>
        <a href="#terms-of-use">- Conditions d'utilisation</a>
        <a href="#rgpd">- RGPD</a>
    </div>
</div>