<p>
    2 types de cookies sont déposés sur Hanbeop.<br><br>

    <strong>Cookies internes nécessaires au site pour fonctionner</strong><br><br>

    Ces cookies permettent au site de fonctionner de manière optimale. Vous pouvez vous y opposer en ne vous inscrivant pas, cependant vous n'aurez pas la possibilité de pouvoir répondre aux exercices ainsi qu'avoir accès aux réponses.<br><br>
</p>
    <table>
        <tr>
            <th>Nom du cookie</th>
            <th>Finalité</th>
            <th>Durée de conservation</th>
        </tr>
        <tr>
            <td>PHPSESSID</td>
            <td>Stocke la session de l'utilisateur connecté</td>
            <td>Session</td>
        </tr>
    </table><br><br>

<p>
    <strong>Cookies externes</strong><br><br>

    Les cookies Stripes sont des cookies de protection contre la fraude et permettent d'obtenir des informations sur les ordinateurs et les navigateurs internet utilisés pour accéder aux services de Stripe. Ces informations leur permettent de surveiller et de détecter toute utilisateur de leurs services potentiellement malveillante ou illicite.<br><br>
</p>
    <table>
        <tr>
            <th>Nom du cookie</th>
            <th>Finalité</th>
            <th>Durée de conservation</th>
        </tr>
        <tr>
            <td>__stripe_mid</td>
            <td>Prévention des fraudes et réduction des risques lors d'une tentative de transaction</td>
            <td>1 an</td>
        </tr>
        <tr>
            <td>__stripe_sid</td>
            <td>Prévention des fraudes et réduction des risques lors d'une tentative de transaction</td>
            <td>30 minutes</td>
        </tr>
    </table><br><br>
<p>
    Retrouvez la liste complète des cookies Stripes sur le site officiel de <a href="https://www.stripe.com/fr/cookie-settings">Stripe</a>
</p>