<p>
    A long terme, et ce afin de rendre l'apprentissage du coréen moins contraignant tout en offrant un confort pour les apprenants, le site <strong>Hanbeop</strong> s'offrira une refonte complète du design dans un premier temps ainsi qu'une version application dans un second temps.
</p>
<br>
<br>
<p>
    La version application offrira aux utilisateur d'accéder à tous les points de grammaire n'importe où, n'importe quand et même hors connexion.
</p>