<p>
    Le site <strong>Hanbeop</strong> se veut fournir une base de données gratuite et accessible des points de grammaire coréens traduit en français afin d'améliorer l'apprentissage de la langue coréenne tout en facilitant la vie des étudiants dans ce domaine.
</p>