<p>
    Le site Hanbeop s’engage à ce que la collecte et le traitement de vos données, effectués à partir du portail hanbeop.fr, soient conformes au règlement général sur la protection des données (RGPD) et à la loi Informatique et Libertés.<br><br>

    En application de la loi Informatique et Libertés du 6 janvier 1978, vous disposez d’un droit d’accès, de rectification, de modification et de suppression des données qui vous concernent. Vous pouvez exercer ce droit de la façon suivante :<br>

    <br>- par courriel à l'aide du <a href="{{ path('contact') }}">formulaire</a>
</p>