<p>
    Afin de pouvoir utiliser le site <strong>Hanbeop</strong>, l'utilisateur doit posséder un ordinateur et un accès au réseaux internet (connexion physique et abonnement chez un fournisseur d'accès). Les frais afférents sont à la charge excusive de l'utilisateur.
</p>
<br><br>
<p>
    Dans un soucis d'équité universelle de l'apprentissage du coréen, l'utilisateur a accès sans inscription à l'entièrerté des points de grammaire disponible sur le site <strong>Hanbeop</strong>
</p>
<br><br>
<p>
    L'utilisateur est inscrit lorsqu'il a correctement rempli le formulaire d'inscription. A cette occasion, il renseigne une adresse email et un mot de passe qui lui permettront d'accéder aux services du site <strong>Hanbeop</strong>. Une fois inscrit, l'utilisateur aura accès aux exercices gratuits. Afin d'obtenir l'accès aux exercices premiums, l'utilisateur devra s'abonner à un abonnement mensuel, résiliable à tout moment en accédant à son profil utilisateur, d'un montant de 1,99€/mois.
</p>
<br><br>
<p>
    La résiliation de l'abonnement est effective à la fin du mois payé en cours.
</p>
<br><br>
<p>
    Les données enregistrées sont personnelles et confidentielles. L'utilisateur en est seul responsable et s'engage à ne pas les divulguer.
</p>
<br><br>
<p>
    Sur chaque formulaire d'inscription, l'utilisateur est informé du caractère obligatoire des données personnelles demandées, conformément à la <a href="https://www.legifrance.gouv.fr/loda/id/LEGITEXT000006068624/" target="_blank">Loi Informatique et Libertés du 6 janvier 1978</a>.
</p>