<p>
    <strong class="warning">Le site est actuellement en construction, tous les points de grammaire ne sont pas encore présents et/ou traduits.</strong>
</p>
<br>
<br>
<p>
    Le site <strong>Hanbeop</strong> a été développé par <a href="https://www.linkedin.com/axelpion">Maengdok</a>, diplômé d'une licence de Langues et Civilisations de l'Asie Orientale dans les études coréennes et alumni de <a href="https://u-paris.fr/">Paris 7 Diderot</a>. 
</p>
<br>
<br>
<p>
    C'est pendant ses études qu'il a pu remarquer le manque d'informations et de documentations sur la grammaire coréenne dans sa langue maternelle, devant à chaque fois faire des recherches interminables sur différents sites internet, différents dictionnaires ou encore différents livres de grammaire tous dans des langues différentes. 
</p>
<br>
<br>
<p>
    Fier de son expérience en tant qu'étudiant sur la Corée, le projet de vouloir regrouper tous les points de grammaire coréens était de plus en plus présent.
</p>