
<div class="premium-link">
    <a href="{{ path('payment_index') }}">
        <div class="premium-card">
            <div class="premium-icon">
                <i class="fas fa-graduation-cap"></i>
            </div>
            <h4>Devenir Premium</h4>
        </div>
    </a>
</div>
