<div class="docu-menu">
    <div class="dm-title">
        <h3>Accès Rapide</h3>
    </div>
    <div class="dm-links">
        <a href="#hangeul">- Hangeul</a>
        <a href="#e-learning">- Apprendre le coréen en ligne</a>
        <a href="#univ-list">- Apprendre le coréen à l'université</a>
        <a href="#books">- Livres pour apprendre le coréen</a>
        <a href="#culture">- En apprendre plus sur la culture coréenne</a>
        <a href="#history">- En apprendre plus sur l'histoire coréenne</a>
    </div>
</div>