<div class="consonant">
    <h4>Consonnes</h4>
    <table class="consonant-tab">
        <tr>
            <th>Hangeul</th>
            <th>Nom</th>
            <th colspan="2">Romanisation</th>
        </tr>
        <tr>
            <th colspan="2"></th>
            <th>2000</th>
            <th>McCune-Reischauer</th>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㄱ</td>
            <td>Gieuk</td>
            <td>g</td>
            <td>k</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㄴ</td>
            <td>Nieun</td>
            <td>n</td>
            <td>n</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㄷ</td>
            <td>Dieut</td>
            <td>d</td>
            <td>t</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㄹ</td>
            <td>Lieul</td>
            <td>l</td>
            <td>l</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅁ</td>
            <td>Mieum</td>
            <td>m</td>
            <td>m</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅂ</td>
            <td>Bieup</td>
            <td>b</td>
            <td>p</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅅ</td>
            <td>Sieut</td>
            <td>s</td>
            <td>s</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅇ</td>
            <td>Ieung</td>
            <td>ng</td>
            <td>ng</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅈ</td>
            <td>Jieut</td>
            <td>j</td>
            <td>ch</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅊ</td>
            <td>Chieut</td>
            <td>ch</td>
            <td>ch'</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅋ</td>
            <td>Kieuk</td>
            <td>k</td>
            <td>k'</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅌ</td>
            <td>Tieut</td>
            <td>t</td>
            <td>t'</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅍ</td>
            <td>Pieup</td>
            <td>p</td>
            <td>p'</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅎ</td>
            <td>Hieut</td>
            <td>h</td>
            <td>h</td>
        </tr>
    </table>
</div>
<div class="vowels">
    <h4>Voyelles</h4>
    <table class="vowels-tab">
        <tr>
            <th>Hangeul</th>
            <th colspan="2">Romanisation</th>
        </tr>
        <tr>
            <th></th>
            <th>2000</th>
            <th>McCune-Reischauer</th>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅏ</td>
            <td>a</td>
            <td>a</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅑ</td>
            <td>ya</td>
            <td>ya</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅓ</td>
            <td>eo</td>
            <td>ŏ</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅕ</td>
            <td>yeo</td>
            <td>yŏ</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅗ</td>
            <td>o</td>
            <td>o</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅛ</td>
            <td>yo</td>
            <td>yo</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅜ</td>
            <td>ou</td>
            <td>u</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅠ</td>
            <td>you</td>
            <td>yu</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅡ</td>
            <td>eu</td>
            <td>ŭ</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅣ</td>
            <td>i</td>
            <td>i</td>
        </tr>
    </table>
</div>
<div class="composed-vowels">
    <h4>Voyelles composées</h4>
    <table class="composed-vowels-tab">
        <tr>
            <th>Hangeul</th>
            <th colspan="2">Romanisation</th>
        </tr>
        <tr>
            <th></th>
            <th>2000</th>
            <th>McCune-Reischauer</th>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅐ</td>
            <td>ae</td>
            <td>ae</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅒ</td>
            <td>yae</td>
            <td>yae</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅔ</td>
            <td>e</td>
            <td>e</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅖ</td>
            <td>ye</td>
            <td>ye</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅘ</td>
            <td>wa</td>
            <td>wa</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅙ</td>
            <td>wae</td>
            <td>wae</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅚ</td>
            <td>oe</td>
            <td>oe</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅝ</td>
            <td>weo</td>
            <td>wŏ</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅞ</td>
            <td>we</td>
            <td>we</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅟ</td>
            <td>wi</td>
            <td>wi</td>
        </tr>
        <tr class="tr-hover">
            <td class="kr">ㅢ</td>
            <td>eui</td>
            <td>ŭi</td>
        </tr>
    </table>
</div>