/**************/
/*** search ***/
/**************/

.search-page {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex: 1 0 auto;
}

.search-section {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.grammar-categories-section {
    width: 80%;
    height: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.classification-section, .categories-section {
    width: 80%;
    background: #EEEEEE;
}

.classification-section-title, .categories-section-title {
    width: 100%;
    padding-left: 10px;
    background: #022859;
    color: white;
}

.grammar-classification {
    width: 100%;
}

.grammar-classification h4 {
    padding: 0 0 2px 10px;
}

.category-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-title .see-more {
    margin-right: 5px;;
}

.categories-separator {
    width: 90%;
    height: 1px;
    margin: 0 auto 10px auto;
    background: #103668;
}

.classification-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
}

.classification-body {
    padding: 0 0 30px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.classification-body a {
    margin: 0 10px 0 0;
    width: 100px;
}

.title-path {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.head-title {
    display: flex;
    flex-direction: column;
}

.head-title h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.head-title span {
    margin-left: 20px;
}

.size-up {
    font-size: 50px;
}

.exercices-classification-section {
    width: 80%;
    height: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.classification-section, .created-section {
    width: 80%;
    background: #EEEEEE;
}

.classification-section-title, .created-section-title {
    width: 100%;
    background: #022859;
    color: white;
}

.exercices-classification, .exercices-created {
    width: 100%;
}

.categories-title {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.categories-body {
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}

.categories-body a {
    display: flex;
    flex-direction: row;
}

.categories-separator {
    width: 90%;
    height: 1px;
    margin: 0 auto 10px auto;
    background: #103668;
}

.diff-acc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.easy, .medium, .hard, .free, .premium {
    border-radius: 10px;
    padding: 0 5px;
    margin: 0 5px;
    font-size: 10px;
}

.easy {
    border: 1px solid rgb(48, 128, 48);
    color:rgb(48, 128, 48);
}

.medium {
    border: 1px solid rgb(203, 143, 80);
    color:rgb(203, 143, 80);
}

.hard {
    border: 1px solid rgb(230, 85, 85);
    color:rgb(230, 85, 85);
}

.free {
    border: 1px solid black;
}

.premium {
    border: 1px solid rgb(53, 53, 174);
    color:rgb(53, 53, 174);
}

.premium-link {
    width: 100%;
    height: 100px;
    margin: 50px 0 50px 0;
    background: #4373b6af;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.premium-link a {
    color: white;
    width: 100%;
    height: 100%;
}

.premium-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.premium-icon {
    font-size: 50px;
}

.premium-card h4 {
    margin-bottom: 20px;
}

/***********************/
/*** >374px & <800px ***/
/***********************/

/* ! style smartphones et petites tablettes en portrait */
@media only screen and (min-width: 360px) and (max-width: 799px) {
    .search-page {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex: 1 0 auto;
    }

    .grammar-categories-section {
        width: 100%;
        height: 100%;
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .head-title h1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 15px;
    }

    .category-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .category-title h4 {
        width: 80%;
        font-size: 12px;
    }
}

/***********************/
/*** >800px & <966px ***/
/***********************/

/* ! style petites-moyennes tablettes */
@media only screen and (min-width: 800px) and (max-width: 966px) {
    .head-title h1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 20px;
    }
}