<footer>
    <div class="contact">
        <div class="social-networks">
            <h2>Suivez nous sur les réseaux</h2>
            <div class="social-logos">
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
            <p>Et soyez au courant des nouveautés</p>
        </div>

        <div class="contact-form">
            <h2>Contact</h2>
            <a href="{{ path('contact') }}">
                <i class="fas fa-envelope-open-text"></i>
            </a>
            <p>Envoyez-nous un mail</p>
        </div>
    </div>
    <span class="copyright">Copyright  ©  <a href="https://github.com/Maengdok">Maengdok</a></span> 
</footer>