{% extends 'adminBase.html.twig' %}

{% block title %}New Formulation{% endblock %}

{% block body %}
<div class="row d-flex">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="d-flex justify-content-end">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin') }}">Admin</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_formulation_index') }}">Formulations</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nouveau</li>
        </ol>
    </nav>
</div>
    <h1>Nouvelle formulation</h1>
    <a href="{{ path('admin_formulation_index') }}"><button class="btn btn-outline-info px-4"><i class="fas fa-undo-alt"></i></button></a>

    {{ include('Admin/admin_formulation/_form.html.twig') }}

{% endblock %}
