/***************/
/**** index ****/
/***************/

.index-content {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.left-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.top-left-content, .bottom-left-content {
    width: 100%;
    height: 48%;
    display: flex;
    flex-direction: column;
}

.top-left-content-title, .bottom-left-content-title, .right-content-block-title {
width: 100%;
padding-left: 10px;
background: #022859;
color: white;
}

.grammar, .exercice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0 20px;
}

.right-content {
    width: 40%;
    height: 500px;
    padding: 20px;
}

.right-content-block {
    width: 100%;
}

.category {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;
    margin: 0 10px;
    font-size: 12px;
    border: 1px solid #02285989;
}

.difficulty-isPremium {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.easy, .medium, .hard, .free, .premium {
    border-radius: 10px;
    padding: 0 5px;
    margin: 0 5px;
    font-size: 12px;
}

.easy {
    border: 1px solid rgb(48, 128, 48);
    color:rgb(48, 128, 48);
}

.medium {
    border: 1px solid rgb(203, 143, 80);
    color:rgb(203, 143, 80);
}

.hard {
    border: 1px solid rgb(230, 85, 85);
    color:rgb(230, 85, 85);
}

.free {
    border: 1px solid black;
}

.premium {
    border: 1px solid rgb(53, 53, 174);
    color:rgb(53, 53, 174);
}