{% extends "base.html.twig" %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bundles/TwigBundle/Exception/style.css') }}">
{% endblock %}

{% block body %}
    <h1>Erreur 404 : Page non trouvée</h1>

    <p>
        Oups ! La page que vous essayez d'atteindre n'a pas pu être trouvée. Vérifiez que vous n'ayez fait aucune erreur dans l'URL ou <a href="{{ path('index') }}">retournez à l'index</a>
    </p>
{% endblock %}