{% extends "base.html.twig" %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bundles/TwigBundle/Exception/style.css') }}">
{% endblock %}

{% block body %}
    <h1>Erreur 403 : Accès interdit</h1>

    <p>
        Oups ! Il semblerait que vous n'ayez pas les droits pour accéder à cette page. Vérifiez que vous n'ayez fait aucune erreur dans l'URL ou <a href="{{ path('index') }}">retournez à l'index</a>
    </p>
{% endblock %}