{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Payment/style.css') }}">
{% endblock %}

{% block body %}
    <div class="payment-title">
        <h1>Succès paiement</h1>
    </div>
{% endblock %}