/**********************/
/*** signIn & LogIn ***/
/**********************/

.sign-in {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
}

.sign-in-section {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.form-section {
    width: 50%;
    border-radius: 1%;
}

.form-section .block {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.registration input[type="text"], .registration input[type="password"] {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    height: 25px;
}

.civility div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.civility select, .birth-date select {
    height: 30px;
}

.birth-date div {
    margin-bottom: 10px;
}

.birth-date select {
    margin-right: 10px;
}

.terms {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.terms span {
    display: flex;
    align-items: center;
}

.terms a {
    color: #590212;
}

.registration input[type="checkbox"] {
    margin: 5px;
}

.valid-btn button {
    display: flex;
    align-items: center;
}

.reset-password {
    margin: 0 30px 10px 0;
}

.reset-password a {
    display: flex;
    justify-content: end;
}

/***********************/
/*** >374px & <800px ***/
/***********************/

/* ! style smartphones et petites tablettes en portrait */
@media only screen and (min-width: 360px) and (max-width: 799px) {
    .sign-in {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex: 1 0 auto;
    }

    .form-section {
        width: 90%;
        border-radius: 1%;
    }

    .reset-password a {
        display: flex;
        justify-content: center;
    }

}